<?xml version="1.0"?>
<!--
/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_StoreMaintenance
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */	
-->
<config>
    <modules>
        <Dexxtz_Storemaintenance>
            <version>1.0.0</version>
        </Dexxtz_Storemaintenance>
    </modules>
    <frontend>
        <routers>
            <storemaintenance>
                <use>standard</use>
                <args>
                    <module>Dexxtz_Storemaintenance</module>
                    <frontName>storemaintenance</frontName>
                </args>
            </storemaintenance>
        </routers>
        <translate>
            <modules>
                <Dexxtz_Storemaintenance>
                    <files>
                        <default>Dexxtz_Storemaintenance.csv</default>
                    </files>
                </Dexxtz_Storemaintenance>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <storemaintenance>
                <use>admin</use>
                <args>
                    <module>Dexxtz_Storemaintenance</module>
                    <frontName>storemaintenance</frontName>
                </args>
            </storemaintenance>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Dexxtz_Storemaintenance>
                            <title>Storemaintenance Module</title>
                            <sort_order>10</sort_order>
                        </Dexxtz_Storemaintenance>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <storemaintenance>
                                            <title>Storemaintenance</title>
                                        </storemaintenance>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Dexxtz_Storemaintenance>
                    <files>
                        <default>Dexxtz_Storemaintenance.csv</default>
                    </files>
                </Dexxtz_Storemaintenance>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
			<storemaintenance>
                <class>Dexxtz_Storemaintenance_Model</class>
            </storemaintenance>
        </models>
        <resources>
            <dexxtz_storemaintenance_setup>
                <setup>
                    <module>Dexxtz_Storemaintenance</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dexxtz_storemaintenance_setup>
        </resources>
        <blocks>
            <storemaintenance>
                <class>Dexxtz_Storemaintenance_Block</class>
            </storemaintenance>
        </blocks>
        <helpers>
            <storemaintenance>
                <class>Dexxtz_Storemaintenance_Helper</class>
            </storemaintenance>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <storemaintenance>
                        <type>singleton</type>
                        <class>storemaintenance/observer</class>
                        <method>initControllerStoremaintenance</method>
                    </storemaintenance>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <storemaintenance>
            <dexxtz>
                <activate_admin>1</activate_admin>
            </dexxtz>
        </storemaintenance>
    </default>
</config>